<footer class="footer-instruction">
    <div class="wrapper">
        <img class="main__figure" src="img/elipses.png">
        <h1 class=" main__title">
            Как применять <span class="main__title_span">Микоцин</span>
        </h1>
        <div class="footer-instruction__box footer-box">
            <div class="footer-box__img">
                <img src="../img/Продукт.png" alt="продукт">
            </div>
            <div class="footer-box__content">
                <div class="instruction-box">
                    <div class="instruction-box__img">
                        <img src="../img/pils1.png">
                    </div>
                    <div class="instruction-box__text">
                        <hr class="instruction-box__line">
                        Принимать по 1 таблетке утром и вечером
                    </div>
                </div>
                <div class="instruction-box">
                    <div class="instruction-box__img">
                        <img src="../img/pils2.png">
                    </div>
                    <div class="instruction-box__text">
                        <hr class="instruction-box__line">
                        Запивать стаканом воды
                    </div>
                </div>
                <div class="instruction-box">
                    <div class="instruction-box__img">
                        <img src="../img/pils3.png">
                    </div>
                    <div class="instruction-box__text">
                        <hr class="instruction-box__line">
                        Курс - от 30 дней
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>