<header class="header">
    <div class="wrapper">
        <div class="header-benefits">
            <div class="header-benefits__title">
                <div><img src="../img/elipses.png" alt=""></div>
                <h3> Микоцин </h3>
            </div>
            <div class="header-benefits__info">
                <div><img src="../img/benefits%20(3).png" alt=""></div>
                <div> №1 Для избавления от любого типа грибка</div>
            </div>
            <div class="header-benefits__info">
                <div><img src="../img/benefits%20(2).png" alt=""></div>
                <div> Рекомендовано дерматологами</div>
            </div>
            <div class="header-benefits__info">
                <div><img src="../img/benefits%20(1).png" alt=""></div>
                <div> 13000+ довольных клиентов за 2018 год</div>
            </div>
        </div>
        <div class="header-info">
            <div class="header-info__img">
                <img src="../img/main-img.png" alt="">
            </div>
            <div class="header-info__main">
                <div class="description">
                    <div class="description-title">
                        <h1> Кoмплексное избавление<br> от грибка - </h1>
                        <h2><span class="red"> изнутри </span> и <span class="green"> снаружи</span></h2>
                    </div>
                    <div class="description-box">
                        <div class="description-box__elipse"> 2в1</div>
                        <div class="description-box__text">
                            Комплекс Микоцин <b> устраняет
                            зуд, неприятный запах </b>
                            и возвращает эстетичный вид
                        </div>
                    </div>
                    <div class="description-box">
                        <div class="description-box__elipse"> 1</div>
                        <div class="description-box__text">
                            <b class="red"> Таблетки</b> Микоцин
                            <b> уничтожают все виды грибка</b>
                            на ногтях и коже
                        </div>
                    </div>
                    <div class="description-box">
                        <div class="description-box__elipse"> 2</div>
                        <div class="description-box__text">
                            <b class="green"> Гель </b> Микоцин
                            <b> восстанавливает кожу </b>
                            и создает на ней <b> защитный
                            барьер </b>
                        </div>
                    </div>
                </div>
                <div class="form">
                    <img class="form__img" src="../img/rectangle.png" alt="">
                    <div class="delivery">
                        <img src="../img/del.png" alt="">
                        <span> Бесплатно</span>
                    </div>
                    <div class="form__top-title">
                        <b>Успейте заказать со скидкой</b>
                        <p class="red__text"> до 10.09.2018</p>
                    </div>
                    <div class="form__price price">
                        <div class="price__old">
                            <div class="price__title"> старая цена</div>
                            <div class="price__sum">
                                918 &#8381
                                <hr class="price__sum_old">
                                <hr class="price__sum_old2">
                            </div>
                        </div>
                        <div class="price__new">
                            <div class="price__title price__title_new"> новая цена</div>
                            <div class="price__sum_new"> 459 &#8381</div>
                        </div>
                    </div>
                    <div class="form__contact">
                        <div class="field-input">
                            <img class="field-input__img" src="../img/name.png" alt="">
                            <input class="field-input__input" type="text" placeholder="Имя">
                        </div>
                        <div class="field-input">
                            <img class="field-input__img" src="../img/e-mail.png" alt="">
                            <input class="field-input__input" type="tel" placeholder="Телефон">
                        </div>
                        <button class="form__btn">
                            <h2>Заказать</h2>
                            <h4> со скидкой</h4>
                        </button>
                    </div>
                    <div class="form__bottom-title">
                        Осталось <span class="green__text"> 10 </span> упаковок со скидкой
                    </div>
                    <div class="form__footer">
                        <img src="../img/form.png" alt="">
                        <p> Ваши данные защищены! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>